<%= form_with(model: [:admins, work], multipart: true) do |form| %>
  <% if work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
        <% work.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :logo %>
    <%= form.file_field :logo, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :name_zh %>
    <%= form.text_field :name_zh, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :name_en %>
    <%= form.text_field :name_en, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :intro_zh %>
    <%= form.text_area :intro_zh, class: 'form-control', rows: 5 %>
  </div>

  <div class="field mb-3">
    <%= form.label :intro_en %>
    <%= form.text_area :intro_en, class: 'form-control', rows: 5 %>
  </div>

  <div class="field mb-3">
    <%= form.label :site_url %>
    <%= form.text_field :site_url, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :desc_zh %>
    <div class="validation-input">
      <%= editor(form.object, :desc_zh) %>
    </div>
  </div>

  <div class="field mb-3">
    <%= form.label :desc_en %>
    <div class="validation-input">
      <%= editor(form.object, :desc_en) %>
    </div>
  </div>

  <div class="row1" id="site_screenshots_block">
    <h4><%= "網站截圖" %></h4>
    <%= form.fields_for :site_screenshots do |t| %>
      <%= render 'site_screenshot_fields', f: t %>
    <% end %>
    <div id="site_screenshots_block_new_<%= form.index %>" class="site_screenshots_block_new"></div>
    <div class="field mb-3">
      <%= link_to_add_association "新增網站截圖", form , :site_screenshots, { :class => 'add-link', data: { ssociation_insertion_method: "append", association_insertion_node: "#site_screenshots_block_new_#{form.index}" }} %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
