<p id="notice"><%= notice %></p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @work.logo_url, height: 100 %>
</p>

<p>
  <strong>Name zh:</strong>
  <%= @work.name_zh %>
</p>

<p>
  <strong>Name en:</strong>
  <%= @work.name_en %>
</p>

<p>
  <strong>Intro zh:</strong>
  <%= @work.intro_zh %>
</p>

<p>
  <strong>Intro en:</strong>
  <%= @work.intro_en %>
</p>

<p>
  <strong>Site url:</strong>
  <%= @work.site_url %>
</p>

<p>
  <strong>Desc zh:</strong>
  <%== @work.desc_zh %>
</p>

<p>
  <strong>Desc en:</strong>
  <%== @work.desc_en %>
</p>

<p>
  <strong>網站截圖:</strong>
<% @work.site_screenshots.each do |site_screenshot| %>
  <%= image_tag site_screenshot.image_url, height: 100 %>
<% end %>
</p>


<%= link_to 'Edit', edit_admins_work_path(@work) %> |
<%= link_to 'Back', admins_works_path %>
