<div class="feature col">
  <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
    <%= image_tag work.logo_url, height: 64 %>
  </div>
  <h3 class="fs-2 text-body-emphasis"><%= work.name_zh %></h3>
  <p style="height: 7rem"><%= strip_tags(work.intro_zh).truncate(100) if work.intro_zh.present? %></p>
  <%= link_to "前往網站", url_format(work.site_url), target: '_blank', class: 'icon-link' %> / 
  <%= link_to "詳細介紹", work_path(work), class: 'icon-link' %>
</div>
