<% col_names = local_assigns[:col_names].presence || {} %>
<% image_col = col_names[:image].presence || 'image' # 預設欄位名為 image %>
<% title_col = col_names[:title].presence || 'title' # 預設欄位名為 title %>
<% subtitle_col = col_names[:subtitle].presence || 'subtitle' # 預設欄位名為 subtitle %>

<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" data-bs-theme="light">
  <div class="carousel-indicators">
<% carousel_items.size.times.each do |i| %>
  <% if i == 0 %>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 0" aria-current="true"></button>
  <% else %>
    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%= i %>" aria-label="Slide <%= i + 1 %>" class=""></button>
    <% end %>
<% end %>
  </div>
  <div class="carousel-inner">
<% carousel_items.each_with_index do |item, i| %>
    <div class="carousel-item <%= 'active' if i == 0 %>">
      <%= image_tag item.try(image_col).try('thumb').try('url'), width: '100%' %>
      <div class="container">
        <div class="carousel-caption text-start">
            <h1><%= item.try("#{title_col}_zh") %></h1>
          <p class="opacity-75"><%= item.try("#{subtitle_col}_zh") %></p>
<% if false %>
          <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
<% end %>
        </div>
      </div>
    </div>
<% end %>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>