<%= form_with(model: [:admins, post]) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title_zh %>
    <%= form.text_field :title_zh %>
  </div>

  <div class="field">
    <%= form.label :title_en %>
    <%= form.text_field :title_en %>
  </div>

  <div class="field">
    <%= form.label :content_zh %>
    <div class="validation-input">
      <%= editor(form.object, :content_zh) %>
    </div>
  </div>

  <div class="field">
    <%= form.label :content_en %>
    <div class="validation-input">
      <%= editor(form.object, :content_en) %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
