<p id="notice"><%= notice %></p>

<h1>Admins Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title zh</th>
      <th>Title en</th>
      <th>Content zh</th>
      <th>Content en</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title_zh %></td>
        <td><%= post.title_en %></td>
        <td><%= post.content_zh %></td>
        <td><%= post.content_en %></td>
        <td><%= link_to 'Show', admins_post_path(post) %></td>
        <td><%= link_to 'Edit', edit_admins_post_path(post) %></td>
        <td><%= link_to 'Destroy', admins_post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admins Post', new_admins_post_path %>
