<p id="notice"><%= notice %></p>

<p>
  <strong>Title zh:</strong>
  <%= @post.title_zh %>
</p>

<p>
  <strong>Title en:</strong>
  <%= @post.title_en %>
</p>

<p>
  <strong>Content zh:</strong>
  <%= sanitize @post.content_zh %>
</p>

<p>
  <strong>Content en:</strong>
  <%= sanitize @post.content_en %>
</p>

<%= link_to 'Edit', edit_admins_post_path(@post) %> |
<%= link_to 'Back', admins_posts_path %>
