<p id="notice"><%= notice %></p>

<p>
  <strong>Cover image:</strong>
  <%= image_tag(@post.cover_image_url, height: 100) %>
</p>

<p>
  <strong>is published</strong>
  <%= @post.is_published %>
</p>

<p>
  <strong>Title zh:</strong>
  <%= @post.title_zh %>
</p>

<p>
  <strong>Title en:</strong>
  <%= @post.title_en %>
</p>

<p>
  <strong>Title zh:</strong>
  <%= @post.intro_zh %>
</p>

<p>
  <strong>Title en:</strong>
  <%= @post.intro_en %>
</p>

<p>
  <strong>Content zh:</strong>
  <%= sanitize @post.content_zh %>
</p>

<p>
  <strong>Content en:</strong>
  <%= sanitize @post.content_en %>
</p>

<%= link_to 'Edit', edit_admins_post_path(@post) %> |
<%= link_to 'Back', admins_posts_path %>
