<div class="row g-5">
  <article class="about">
    <h2 class="display-5 link-body-emphasis mb-1">聯絡我</h2>
    <%= image_tag '', fake: true, width: '100%' %>
    <h2>聯絡我注意事項</h2>
    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
    <h3>Sub-heading</h3>
    <p>This is some additional paragraph placeholder content. It has been written to fill the available space and show how a longer snippet of text affects the surrounding content. We'll repeat it often to keep the demonstration flowing, so be on the lookout for this exact same string of text.</p>
    <pre><code>Example code block</code></pre>
    <p>This is some additional paragraph placeholder content. It's a slightly shorter version of the other highly repetitive body text used throughout.</p>
  </article>
</div>
<hr class="my-4">
<div class="row g-5">
  <article class="contact-me">
    <%= form_with(url: contact_path, scope: 'contact',class: 'needs-validation') do |f| %>
      <div class="row g-3">
        <div class="col-12">
          <%= f.label :name, class: 'form-lable' %>
          <%= f.text_field :name, class: 'form-control', required: true %>
          <div class="invalid-feedback">
            姓名為必填
          </div>
        </div>
        <div class="col-12">
          <%= f.label :email, class: 'form-lable' %>
          <%= f.text_field :email, class: 'form-control', placeholder: 'you@example.com', required: true %>
          <div class="invalid-feedback">
            Email為必填
          </div>
        </div>
        <div class="col-12">
          <%= f.label :content, class: 'form-lable' %>
          <%= f.text_area :content, class: 'form-control', rows: 10, required: true %>
        </div>
        <button class="w-100 btn btn-primary btn-lg" type="submit">送出</button>
      </div>
    <% end %>
  </article>
</div>