<div class="row g-5">
  <article class="about">
    <h2 class="display-5 link-body-emphasis mb-1">聯絡我</h2>
    <%== @contact_note.content_zh %>
    <%= link_to 'https://github.com/friday1029', target: '_blank' do %>
      <%= image_pack_tag 'github.svg', class: 'bi', width: 30, height: 30 %>
    <% end %>
        <%= link_to 'https://www.linkedin.com/in/friday1029/', target: '_blank' do %>
      <%= image_pack_tag 'linkedin.svg', class: 'bi', width: 30, height: 30 %>
    <% end %>
  </article>
</div>
<hr class="my-4">
<div class="row g-5">
  <article class="contact-me">
    <%= form_with(url: contact_path, scope: 'contact',class: 'needs-validation') do |f| %>
      <div class="row g-3">
        <div class="col-12">
          <%= f.label :name, class: 'form-lable' %>
          <%= f.text_field :name, class: 'form-control', required: true %>
          <div class="invalid-feedback">
            姓名為必填
          </div>
        </div>
        <div class="col-12">
          <%= f.label :email, class: 'form-lable' %>
          <%= f.text_field :email, class: 'form-control', placeholder: 'you@example.com', required: true %>
          <div class="invalid-feedback">
            Email為必填
          </div>
        </div>
        <div class="col-12">
          <%= f.label :content, class: 'form-lable' %>
          <%= f.text_area :content, class: 'form-control', rows: 10, required: true %>
        </div>
        <button class="w-100 btn btn-primary btn-lg" type="submit">送出</button>
      </div>
    <% end %>
  </article>
</div>