<!--Banner-->
<div class="container px-4 py-5" id="banner">
  <%= render 'shared/carousel', carousel_items: @banners %>
</div>

<!--文章-->
<div class="container px-4 py-5" id="post-cards">
  <h2 class="pb-2 border-bottom">文章<%= link_to "更多", posts_path, class: 'link-secondary link-underline link-underline-opacity-0 fs-5 px-1' %></h2>
  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-2">
<% @posts.each do |post| %>
    <div class="col">
      <%= link_to post_path(post), class: 'link-underline link-underline-opacity-0' do %>
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('<%= post.cover_image_url %>');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><%= post.title_zh %></h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="d-flex align-items-center">
                <%= image_pack_tag 'calendar3.svg', class: 'bi me-2' %>
                <small><%= post.updated_at.to_s(:date) %></small>
              </li>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
<% end %>
  </div> <!--row -->
</div>

<!--作品集-->
<div class="container px-4 py-5" id="works">
  <h2 class="pb-2 border-bottom">作品集<%= link_to "更多", works_path, class: 'link-secondary link-underline link-underline-opacity-0 fs-5 px-1' %></h2>
  <div class="row g-4 py-2 row-cols-1 row-cols-lg-4">
<% @works.each do |work| %>
    <div class="feature col">
      <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
        <%= image_pack_tag 'collection.svg', class: 'bi', width: 30, height: 30 %>
      </div>
      <h3 class="fs-2 text-body-emphasis"><%= work.name_zh %></h3>
      <p><%= work.intro_zh.truncate(50) if work.intro_zh.present?%></p>
      <a href="<%= work_path(work) %>" class="icon-link">
        詳細介紹
      </a>
    </div>
<% end %>
  </div>
</div>