<%#= render 'category_nav' %>
<div class="row g-5">
  <div class="col-md-9">
    <article class="blog-post">
      <h2 class="display-5 link-body-emphasis mb-1"><%= @post.title_zh %></h2>
      <p class="blog-post-meta"><%= @post.updated_at.to_s(:date) %></p>
      <%= image_tag @post.cover_image_url , width: '100%', height: '100%' %>
      <%== @post.content_zh %>
    </article>

    <nav class="blog-pagination" aria-label="Pagination">
      <%= link_to("較舊文章", post_path(@post.older), class: 'btn btn-outline-secondary rounded-pill') if @post.older %>
      <%= link_to("較新文章", post_path(@post.newer), class: 'btn btn-outline-primary rounded-pill') if @post.newer %>
      <% if false %>
        <a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
        <a class="btn btn-outline-secondary rounded-pill disabled">Newer</a>
      <% end %>
    </nav>
  </div>

  <div class="col-md-3">
    <div class="position-sticky" style="top: 2rem;">
      <div>
        <h4 class="fst-italic">相關文章</h4>
        <ul class="list-unstyled">
<% @relative_posts.each do |relative_post| %>
          <li>
            <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
              <%= image_tag relative_post.cover_image.thumb.url, class: 'bd-placeholder-img', height: 80 %>
              <div class="col-lg-8">
                <h6 class="mb-0"><%= relative_post.title_zh %></h6>
                <small class="text-body-secondary"><%= relative_post.updated_at.to_s(:date) %></small>
              </div>
            </a>
          </li>
<% end %>
        </ul>
      </div>
    </div>
  </div>
</div>