<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
  <div class="offcanvas-lg offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu" aria-labelledby="sidebarMenuLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="sidebarMenuLabel">Company name</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="#">
            <%= image_pack_tag "admins/house-fill.svg", class: 'bi' %>
            Dashboard
          </a>
        </li>
        <li class="nav-item">
          <%= link_to admins_banners_path, class: "nav-link d-flex align-items-center gap-2" do %>
            <%= image_pack_tag "admins/file-earmark.svg", class: 'bi' %>
            首頁 Banner
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admins_page_blocks_path(meta_key: 'about'), class: "nav-link d-flex align-items-center gap-2" do %>
            <%= image_pack_tag "admins/file-earmark.svg", class: 'bi' %>
            關於我
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admins_posts_path, class: "nav-link d-flex align-items-center gap-2" do %>
            <%= image_pack_tag "admins/file-earmark.svg", class: 'bi' %>
            文章
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admins_works_path, class: "nav-link d-flex align-items-center gap-2" do %>
            <%= image_pack_tag "admins/file-earmark.svg", class: 'bi' %>
            作品集
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to admins_contacts_path, class: "nav-link d-flex align-items-center gap-2" do %>
            <%= image_pack_tag "admins/file-earmark.svg", class: 'bi' %>
            聯絡我
          <% end %>
        </li>
      </ul>

      <hr class="my-3">

      <ul class="nav flex-column mb-auto">
        <li class="nav-item">
          <a class="nav-link d-flex align-items-center gap-2" href="#">
            <%= image_pack_tag "admins/gear-wide-connected.svg", class: 'bi' %>
            Settings
          </a>
        </li>
        <li class="nav-item">
          <%= link_to admins_page_blocks_path, class:"nav-link d-flex align-items-center gap-2" do %>
            <%= image_pack_tag "admins/gear-wide-connected.svg", class: 'bi' %>
            Page Blocks
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_admin_session_path, class: "nav-link d-flex align-items-center gap-2", method: :delete do %>
            <%= image_pack_tag "admins/door-closed.svg", class: 'bi' %>
            Sign out
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
