<!DOCTYPE html>
<html>
  <head>
    <title>大衛的部落格後台</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= render "admins/shared/svgs" %>    
    <div id="main" class="row">
      <%= render "admins/shared/header" %>
      <%= render "admins/shared/sidebar" %>
      <div class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <%= yield %>
      </div>
    </div> <!-- /main -->
    <%= javascript_pack_tag 'admins/admin' %>
    <%= stylesheet_pack_tag 'admins/admin', media: 'all' %>
  </body>
</html>